body {
    font-family: Arial, Helvetica, sans-serif;
}

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.container {
    width: 90%;
    margin: auto;
}

.btn {
    display: inline-block;
    padding: 1em 2.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 500;
}

.btn-primary {
    color: white;
    background: #16a083;
    ;
}

/*  --------------------  */

.food-image {
    padding-right: 20px;
}

.showcase-area {
    height: 50vh;
    background: url("./img/header-image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
}

.main-title {
    text-transform: uppercase;
}

/*################### about us styling */

#about {
    padding: 50px 0px;
    background: #f5f5f7;
}

.about-wrapper {
    display: flex;
    flex-wrap: wrap;
}

#about h2 {
    font-size: 3.2rem;
}

#about p {
    font-size: 1.6rem;
    color: #555;
}

#about small {
    font-size: 1.6rem;
    color: #666;
    font-weight: 600;
}

.about-image {
    flex: 1 1 400px;
    padding: 30px;
    transform: translateX(150%);
    animation: about-img-animation 1s ease forwards;
}

@keyframes about-img-animation {
    100% {
        transform: translate(0);
    }
}

.about-text {
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translateX(-150%);
    animation: about-text-animation 1s ease forwards;
}

@keyframes about-text-animation {
    100% {
        transform: translate(0);
    }
}

.about-image img {
    display: block;
    height: 400px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
}

/*################ food category styling ############## */

#food {
    padding: 5rem 0 10rem 0;
}

#food h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #555;
}

.food-container {
    display: flex;
    justify-content: space-between;

}

.food-container img {
    display: block;
    width: 100%;
    margin: auto;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.image-container {
    margin: 0 1rem;
    position: relative;
}

.image-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 1s ease;
    background: black;
}

.image-content h3 {
    color: white;
    font-size: 3rem;
}

.image-content a {
    font-size: 1.2rem;
}

.image-container::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.871);
    z-index: 1;
    transform: scaleY(0);
    transform-origin: 0% 100%;
    transition: all 1s ease;
}

.image-container:hover::after {
    opacity: 1;
    transform: scaleY(1);
}

.image-container:hover .image-content {
    opacity: 1;
    top: 40%;
}

.food-menu {
    display: flex;
}

/* ################### food menu styling #################*/

.food-menu-heading {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    color: #666;
    margin-bottom: 40px;

}

.food-menu-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 30px 0px;
}



.food-menu-item {
    display: flex;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.food-description {
    margin: auto;
}

.food-title {
    font-size: 2.2rem;
    font-weight: 500;
    color: #555;
}

.food-description p {
    font-size: 1.4rem;
}

.food-descriptio .food-price {
    color: #117964;
    font-weight: 700;
}

/*############################ testimonal styling #############################*/


.testimonail-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding: 1rem;
}

#testimonails {
    padding: 5rem 0;
    background: rgb(211, 206, 206);
}

.testimonail-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    color: #555;
}

.testimonail-box .checked {
    color: #ff9529;
}

.testimonail-box .testimonail-text {
    margin: 1rem 0rem;
    color: #444;
}

.testimonail-box {
    text-align: center;
    padding: 1rem;
}

.customer-photo img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    margin: auto;
}

/* ####################### contact us styling ################### */

#contact {
    padding: 5rem;
    background: rgb(226, 226, 226);
}

.contact-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding: 1rem;
}



.contact-image img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    margin: auto;
}

.form-container {
    width: 50%;
    padding: 2rem;
    margin: auto;
}

.form-container input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 400;
}

.form-container textarea {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 400;
    resize: none;
}

.form-container h2 {
    font-size: 3rem;
    font-weight: 400;
    color: #444;
    margin-bottom: 1rem;
}

.form-container a {
    font-size: 1.2rem;
}

#footer h2 {
    text-align: center;
    font-size: 2rem;
    padding: 3rem;
    font-weight: 500;
    color: #fff;
    background: rgb(65, 65, 65);
}

/* ################# media qureis ############### */

@media (max-width:768px) {
    .navbar {
        opacity: 0.95;
    }
}

/* Nav bar for Desktop */

@media (min-width:768px) {
    .nav-open-icon {
        display: none;
    }

    .closebtn {
        display: none;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 16px;
        color: #818181;
        transition: 0.3s;
    }

    .sidenav {
        display: flex;
        height: 64px;
        align-items: center;
    }

    .sidenav a:hover {
        color: lightgreen;
    }

    .logo {
        padding-left: 20px;
    }

    .contact-image {
        width: 50%;
    }

   .form-container {
    width: 50%;

   }

   .contact-container {
    flex-direction: row;
}

.food-menu-container img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}



}


/*--------------------------- Navbar for Phone ------------------- */

@media (max-width:768px) {

    .nav-open-icon {
        font-size: 30px;
        cursor: pointer;
        padding-left: 10px;
    }


    .logo {
        display: none;
    }


    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .contact-image {
        width: 100%;
    }

    .form-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .contact-container {
        flex-direction: column;
    }
    .testimonail-container {
        flex-direction: column;
       }
       .customer-photo {
          margin-bottom: 5px;
       }

       .food-menu-container img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
       }

}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}